environment
doosan
gripper
meshes/camera_board
meshes/doosan
meshes/griper
meshes/m0609_white
meshes/ur5
model_kovis
.vscode

__pycache__
aubo_effector.py
doosan_test.py
getCameraImageTest.py
gripper_test.py
perception.py
utils.py